---
- name: "Create directory"
  file:
    path: ~/udapeople
    state: directory

- name: "Extract artifact to EC2"
  unarchive:
    src: ~/project/artifact.tar.gz
    dest: ~/udapeople

- name: "Install Dependencies and build app"
  shell: |
    cd ~/udapeople
    npm install
    
- name: "Run pm2"
  shell: |
    cd ~/udapeople
    pm2 stop default
    pm2 start npm -- start